/* 字体引入 */
@font-face {
    font-family: YSHST;
    src: url(https://cdn.staticaly.com/gh/HcGys/DataSource@main/fonts/优设好身体.woff2);
    font-display: swap;
}

@font-face {
    font-family: MiSans;
    src: url(https://cdn.staticaly.com/gh/HcGys/DataSource@main/fonts/MiSans.woff2);
    font-display: swap;
}

@font-face {
    font-family: HYTMR;
    src: url(https://cdn.staticaly.com/gh/HcGys/DataSource@main/fonts/HYTangMeiRen55W.woff2);
    font-display: swap;
}

@font-face {
    font-family: LXGW;
    src: url(https://cdn.staticaly.com/gh/HcGys/DataSource@main/fonts/霞鹜文楷.woff2);
    font-display: swap;
}

@font-face {
    font-family: TTQHB;
    src: url(https://cdn.staticaly.com/gh/HcGys/DataSource@main/fonts/甜甜圈海报字体.woff2);
    font-display: swap;
}

@font-face {
    font-family: Consolas_1;
    src: url(https://cdn.staticaly.com/gh/HcGys/DataSource@main/fonts/Consolas.woff2);
    font-display: swap;
}

@font-face {
    font-family: ZhuZiAWan;
    src: url(https://cdn.staticaly.com/gh/HcGys/DataSource@main/fonts/ZhuZiAWan2.woff2);
    font-display: swap;
}
